In [14]:
import pandas as pd

In [15]:
#  Importando arquivo
df = pd.read_csv("C:/Users/Lenovo/Documents/projeto_paradas_producao/dados/paradas_producao_2023.csv")
df

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina
0,2023-04-13,06:00:00,22:00:00,18:00:00,21:00:00,Máquina 4,Setup,Fer G,150
1,2023-05-02,06:00:00,22:00:00,12:00:00,15:00:00,Máquina 3,Setup,Fer D,150
2,2023-12-26,06:00:00,22:00:00,08:00:00,10:00:00,Máquina 8,Falta de Energia,Fer B,220
3,2023-12-10,06:00:00,22:00:00,19:00:00,21:00:00,Máquina 12,Manutenção Elétrica,Fer A,315
4,2023-11-10,06:00:00,22:00:00,18:00:00,19:00:00,Máquina 6,Manutenção Mecânica,Fer J,220
...,...,...,...,...,...,...,...,...,...
5995,2023-07-16,06:00:00,22:00:00,10:00:00,11:00:00,Máquina 13,Periféricos,Fer P,315
5996,2023-07-27,06:00:00,22:00:00,19:00:00,22:00:00,Máquina 14,Falta de Energia,Fer K,315
5997,2023-07-16,06:00:00,22:00:00,13:00:00,16:00:00,Máquina 8,Manutenção Elétrica,Fer S,220
5998,2023-01-26,06:00:00,22:00:00,08:00:00,11:00:00,Máquina 1,Manutenção Ferramenta,Fer E,150
5999,2023-07-23,06:00:00,22:00:00,07:00:00,09:00:00,Máquina 1,Manutenção Elétrica,Fer J,150

In [16]:
#  Visualizar primeira linhas
df.head()

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina
0,2023-04-13,06:00:00,22:00:00,18:00:00,21:00:00,Máquina 4,Setup,Fer G,150
1,2023-05-02,06:00:00,22:00:00,12:00:00,15:00:00,Máquina 3,Setup,Fer D,150
2,2023-12-26,06:00:00,22:00:00,08:00:00,10:00:00,Máquina 8,Falta de Energia,Fer B,220
3,2023-12-10,06:00:00,22:00:00,19:00:00,21:00:00,Máquina 12,Manutenção Elétrica,Fer A,315
4,2023-11-10,06:00:00,22:00:00,18:00:00,19:00:00,Máquina 6,Manutenção Mecânica,Fer J,220

In [17]:
#  Visualizar últimas linhas
df.tail()

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina
5995,2023-07-16,06:00:00,22:00:00,10:00:00,11:00:00,Máquina 13,Periféricos,Fer P,315
5996,2023-07-27,06:00:00,22:00:00,19:00:00,22:00:00,Máquina 14,Falta de Energia,Fer K,315
5997,2023-07-16,06:00:00,22:00:00,13:00:00,16:00:00,Máquina 8,Manutenção Elétrica,Fer S,220
5998,2023-01-26,06:00:00,22:00:00,08:00:00,11:00:00,Máquina 1,Manutenção Ferramenta,Fer E,150
5999,2023-07-23,06:00:00,22:00:00,07:00:00,09:00:00,Máquina 1,Manutenção Elétrica,Fer J,150

In [18]:
#  Verificando a estrutura dos dados
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6000 entries, 0 to 5999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Data                6000 non-null   object
 1   Turno Inicio        6000 non-null   object
 2   Turno Fim           6000 non-null   object
 3   Hora Inicio         6000 non-null   object
 4   Hora Fim            6000 non-null   object
 5   Máquina             6000 non-null   object
 6   Motivo Parada       6000 non-null   object
 7   Ferramenta          6000 non-null   object
 8   Custo Hora Máquina  6000 non-null   int64
dtypes: int64(1), object(8)
memory usage: 422.0+ KB

In [19]:
#  Verificando tipos dos dados
df.dtypes

Data                  object
Turno Inicio          object
Turno Fim             object
Hora Inicio           object
Hora Fim              object
Máquina               object
Motivo Parada         object
Ferramenta            object
Custo Hora Máquina     int64
dtype: object

In [22]:
#  Quantidade total de linhas e colunas
df.shape

(6000, 9)

In [23]:
#  Informações básicas
df.describe()

       Custo Hora Máquina
count         6000.000000
mean           227.885000
std             67.561916
min            150.000000
25%            150.000000
50%            220.000000
75%            315.000000
max            315.000000

In [26]:
#  Verificando valores únicos das colunas
df["Custo Hora Máquina"].value_counts()

Custo Hora Máquina
150    2014
220    2004
315    1982
Name: count, dtype: int64

In [ ]:
df["Máquina"].value_counts().sort_index()

Máquina
Máquina 1     407
Máquina 10    413
Máquina 11    366
Máquina 12    407
Máquina 13    418
Máquina 14    384
Máquina 15    407
Máquina 2     418
Máquina 3     399
Máquina 4     378
Máquina 5     412
Máquina 6     389
Máquina 7     429
Máquina 8     405
Máquina 9     368
Name: count, dtype: int64

In [34]:
df["Motivo Parada"].value_counts(ascending=True)

Motivo Parada
Periféricos              628
Limpeza                  647
Falta de Energia         664
Falta Operador           667
Setup                    672
Ajuste                   676
Manutenção Elétrica      676
Manutenção Mecânica      682
Manutenção Ferramenta    688
Name: count, dtype: int64

In [37]:
df["Ferramenta"].value_counts().sort_index()

Ferramenta
Fer A    291
Fer B    304
Fer C    309
Fer D    310
Fer E    301
Fer F    284
Fer G    286
Fer H    275
Fer I    278
Fer J    312
Fer K    268
Fer L    289
Fer M    330
Fer N    305
Fer O    334
Fer P    330
Fer Q    324
Fer R    278
Fer S    307
Fer T    285
Name: count, dtype: int64

In [39]:
#  Convertendo colunas
df["Data"] = pd.to_datetime(df["Data"])
df["Turno Inicio"] = pd.to_datetime(df["Turno Inicio"], format="%H:%M:%S")
df["Turno Fim"] = pd.to_datetime(df["Turno Fim"], format="%H:%M:%S")
df["Hora Inicio"] = pd.to_datetime(df["Hora Inicio"], format="%H:%M:%S")
df["Hora Fim"] = pd.to_datetime(df["Hora Fim"], format="%H:%M:%S")
df["Máquina"] = df["Máquina"].astype("string")
df["Motivo Parada"] = df["Motivo Parada"].astype("string")
df["Ferramenta"] = df["Ferramenta"].astype("string")

In [41]:
df.dtypes

Data                  datetime64[ns]
Turno Inicio          datetime64[ns]
Turno Fim             datetime64[ns]
Hora Inicio           datetime64[ns]
Hora Fim              datetime64[ns]
Máquina               string[python]
Motivo Parada         string[python]
Ferramenta            string[python]
Custo Hora Máquina             int64
dtype: object

In [42]:
#  Criando coluna calculada de Total de Horas paradas
df["Parada"] = df["Hora Fim"] - df["Hora Inicio"]

In [ ]:
#  Verirficando como ficou o tipo da coluna "Parada"
df.dtypes

Data                   datetime64[ns]
Turno Inicio           datetime64[ns]
Turno Fim              datetime64[ns]
Hora Inicio            datetime64[ns]
Hora Fim               datetime64[ns]
Máquina                string[python]
Motivo Parada          string[python]
Ferramenta             string[python]
Custo Hora Máquina              int64
Parada                timedelta64[ns]
dtype: object

In [45]:
#  Verificando as primeiras e últimas linhas do DF para verificar possíveis erros na coluna "Parada"
df.head(20)

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina,Parada
0,2023-04-13,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 18:00:00,1900-01-01 21:00:00,Máquina 4,Setup,Fer G,150,0 days 03:00:00
1,2023-05-02,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 12:00:00,1900-01-01 15:00:00,Máquina 3,Setup,Fer D,150,0 days 03:00:00
2,2023-12-26,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 08:00:00,1900-01-01 10:00:00,Máquina 8,Falta de Energia,Fer B,220,0 days 02:00:00
3,2023-12-10,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 12,Manutenção Elétrica,Fer A,315,0 days 02:00:00
4,2023-11-10,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 18:00:00,1900-01-01 19:00:00,Máquina 6,Manutenção Mecânica,Fer J,220,0 days 01:00:00
5,2023-07-07,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 15,Periféricos,Fer L,315,0 days 02:00:00
6,2023-02-24,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 14:00:00,1900-01-01 17:00:00,Máquina 4,Falta de Energia,Fer S,150,0 days 03:00:00
7,2023-05-15,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 14:00:00,1900-01-01 17:00:00,Máquina 5,Manutenção Elétrica,Fer D,150,0 days 03:00:00
8,2023-03-30,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 12,Falta Operador,Fer B,315,0 days 02:00:00
9,2023-12-06,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 17:00:00,1900-01-01 20:00:00,Máquina 12,Setup,Fer O,315,0 days 03:00:00
10,2023-02-04,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 06:00:00,1900-01-01 08:00:00,Máquina 14,Setup,Fer D,315,0 days 02:00:00
11,2023-01-02,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 11:00:00,1900-01-01 13:00:00,Máquina 14,Ajuste,Fer R,315,0 days 02:00:00
12,2023-08-06,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 07:00:00,1900-01-01 09:00:00,Máquina 12,Ajuste,Fer N,315,0 days 02:00:00
13,2023-12-17,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 13:00:00,1900-01-01 15:00:00,Máquina 15,Manutenção Ferramenta,Fer H,315,0 days 02:00:00
14,2023-08-01,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 07:00:00,1900-01-01 10:00:00,Máquina 13,Falta de Energia,Fer M,315,0 days 03:00:00
15,2023-02-10,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 18:00:00,1900-01-01 19:00:00,Máquina 13,Falta Operador,Fer G,315,0 days 01:00:00
16,2023-01-09,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 06:00:00,1900-01-01 09:00:00,Máquina 8,Periféricos,Fer Q,220,0 days 03:00:00
17,2023-06-12,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 06:00:00,1900-01-01 09:00:00,Máquina 3,Falta de Energia,Fer J,150,0 days 03:00:00
18,2023-08-19,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 14:00:00,1900-01-01 17:00:00,Máquina 10,Falta Operador,Fer H,220,0 days 03:00:00
19,2023-09-25,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 06:00:00,1900-01-01 09:00:00,Máquina 2,Manutenção Ferramenta,Fer E,150,0 days 03:00:00

In [46]:
df.tail(20)

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina,Parada
5980,2023-11-12,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 15:00:00,1900-01-01 18:00:00,Máquina 10,Setup,Fer M,220,0 days 03:00:00
5981,2023-02-25,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 06:00:00,1900-01-01 09:00:00,Máquina 7,Falta Operador,Fer B,220,0 days 03:00:00
5982,2023-05-29,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 14:00:00,1900-01-01 16:00:00,Máquina 9,Manutenção Ferramenta,Fer N,220,0 days 02:00:00
5983,2023-01-30,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 11:00:00,1900-01-01 13:00:00,Máquina 10,Manutenção Ferramenta,Fer G,220,0 days 02:00:00
5984,2023-06-11,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 09:00:00,1900-01-01 10:00:00,Máquina 9,Falta Operador,Fer O,220,0 days 01:00:00
5985,2023-04-05,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 16:00:00,1900-01-01 19:00:00,Máquina 12,Periféricos,Fer E,315,0 days 03:00:00
5986,2023-09-20,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 09:00:00,1900-01-01 12:00:00,Máquina 12,Ajuste,Fer P,315,0 days 03:00:00
5987,2023-10-28,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 18:00:00,1900-01-01 19:00:00,Máquina 15,Limpeza,Fer D,315,0 days 01:00:00
5988,2023-09-08,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 15:00:00,1900-01-01 17:00:00,Máquina 15,Falta de Energia,Fer P,315,0 days 02:00:00
5989,2023-10-19,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 16:00:00,1900-01-01 17:00:00,Máquina 1,Falta de Energia,Fer M,150,0 days 01:00:00
5990,2023-05-05,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 12:00:00,1900-01-01 15:00:00,Máquina 11,Ajuste,Fer J,315,0 days 03:00:00
5991,2023-04-15,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 18:00:00,1900-01-01 19:00:00,Máquina 10,Falta de Energia,Fer H,220,0 days 01:00:00
5992,2023-03-31,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 7,Ajuste,Fer Q,220,0 days 02:00:00
5993,2023-05-30,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 08:00:00,1900-01-01 09:00:00,Máquina 9,Falta de Energia,Fer Q,220,0 days 01:00:00
5994,2023-11-16,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 6,Manutenção Mecânica,Fer F,220,0 days 02:00:00
5995,2023-07-16,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 10:00:00,1900-01-01 11:00:00,Máquina 13,Periféricos,Fer P,315,0 days 01:00:00
5996,2023-07-27,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 19:00:00,1900-01-01 22:00:00,Máquina 14,Falta de Energia,Fer K,315,0 days 03:00:00
5997,2023-07-16,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 13:00:00,1900-01-01 16:00:00,Máquina 8,Manutenção Elétrica,Fer S,220,0 days 03:00:00
5998,2023-01-26,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 08:00:00,1900-01-01 11:00:00,Máquina 1,Manutenção Ferramenta,Fer E,150,0 days 03:00:00
5999,2023-07-23,1900-01-01 06:00:00,1900-01-01 22:00:00,1900-01-01 07:00:00,1900-01-01 09:00:00,Máquina 1,Manutenção Elétrica,Fer J,150,0 days 02:00:00

In [53]:
df.dtypes

Data                   datetime64[ns]
Turno Inicio                   object
Turno Fim                      object
Hora Inicio                    object
Hora Fim                       object
Máquina                string[python]
Motivo Parada          string[python]
Ferramenta             string[python]
Custo Hora Máquina              int64
Parada                timedelta64[ns]
dtype: object

In [54]:
#  Acabei alterando os dados das colunas de hora inicio e fim, abaixo vou retornar para o tipo datetime
df["Hora Inicio"] = pd.to_datetime(df["Hora Inicio"], format="%H:%M:%S")
df["Hora Fim"] = pd.to_datetime(df["Hora Fim"], format="%H:%M:%S")

In [55]:
# Verificando o tipo
df.dtypes

Data                   datetime64[ns]
Turno Inicio                   object
Turno Fim                      object
Hora Inicio            datetime64[ns]
Hora Fim               datetime64[ns]
Máquina                string[python]
Motivo Parada          string[python]
Ferramenta             string[python]
Custo Hora Máquina              int64
Parada                timedelta64[ns]
dtype: object

In [56]:
df.head()

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina,Parada
0,2023-04-13,06:00:00,22:00:00,1900-01-01 18:00:00,1900-01-01 21:00:00,Máquina 4,Setup,Fer G,150,0 days 03:00:00
1,2023-05-02,06:00:00,22:00:00,1900-01-01 12:00:00,1900-01-01 15:00:00,Máquina 3,Setup,Fer D,150,0 days 03:00:00
2,2023-12-26,06:00:00,22:00:00,1900-01-01 08:00:00,1900-01-01 10:00:00,Máquina 8,Falta de Energia,Fer B,220,0 days 02:00:00
3,2023-12-10,06:00:00,22:00:00,1900-01-01 19:00:00,1900-01-01 21:00:00,Máquina 12,Manutenção Elétrica,Fer A,315,0 days 02:00:00
4,2023-11-10,06:00:00,22:00:00,1900-01-01 18:00:00,1900-01-01 19:00:00,Máquina 6,Manutenção Mecânica,Fer J,220,0 days 01:00:00

In [57]:
#  Tentando converter para timedelta
df["Hora Inicio"] = pd.to_timedelta(df["Hora Inicio"].dt.strftime("%H:%M:%S"))
df["Hora Fim"] = pd.to_timedelta(df["Hora Fim"].dt.strftime("%H:%M:%S"))

In [58]:
df.dtypes

Data                   datetime64[ns]
Turno Inicio                   object
Turno Fim                      object
Hora Inicio           timedelta64[ns]
Hora Fim              timedelta64[ns]
Máquina                string[python]
Motivo Parada          string[python]
Ferramenta             string[python]
Custo Hora Máquina              int64
Parada                timedelta64[ns]
dtype: object

In [59]:
df.head()

,Data,Turno Inicio,Turno Fim,Hora Inicio,Hora Fim,Máquina,Motivo Parada,Ferramenta,Custo Hora Máquina,Parada
0,2023-04-13,06:00:00,22:00:00,0 days 18:00:00,0 days 21:00:00,Máquina 4,Setup,Fer G,150,0 days 03:00:00
1,2023-05-02,06:00:00,22:00:00,0 days 12:00:00,0 days 15:00:00,Máquina 3,Setup,Fer D,150,0 days 03:00:00
2,2023-12-26,06:00:00,22:00:00,0 days 08:00:00,0 days 10:00:00,Máquina 8,Falta de Energia,Fer B,220,0 days 02:00:00
3,2023-12-10,06:00:00,22:00:00,0 days 19:00:00,0 days 21:00:00,Máquina 12,Manutenção Elétrica,Fer A,315,0 days 02:00:00
4,2023-11-10,06:00:00,22:00:00,0 days 18:00:00,0 days 19:00:00,Máquina 6,Manutenção Mecânica,Fer J,220,0 days 01:00:00

In [62]:
#  Verificando os valores únicos da coluna Paradas, para tentar indentificar possíveis erros (valores negativos, outliers, Nulos)
#  Como se trata de dados ficticios não vamos encontrar possíveis erros
df["Parada"].value_counts()

Parada
0 days 02:00:00    2042
0 days 03:00:00    1982
0 days 01:00:00    1976
Name: count, dtype: int64

In [ ]:
#  Criar coluna de periodo  = Quando aconteceu a parada (Manhã 6h ás 11h59, Tarde 12h ás 17h59, Noite 18h ás 22h00)